@use 'sass:map';
@use '../common/var' as *;

// 暗黑模式变量
@mixin dark-mode {
    --#{$namespace}-color-white: #000000;
    --#{$namespace}-color-black: #ffffff;

    --#{$namespace}-bg-color: #141414;
    --#{$namespace}-bg-color-page: #0a0a0a;
    --#{$namespace}-bg-color-overlay: #1d1e1f;

    --#{$namespace}-text-color-primary: #e5eaf3;
    --#{$namespace}-text-color-regular: #cfd3dc;
    --#{$namespace}-text-color-secondary: #a3a6ad;
    --#{$namespace}-text-color-placeholder: #8d9095;
    --#{$namespace}-text-color-disabled: #6c6e72;

    --#{$namespace}-border-color-base: #4c4d4f;
    --#{$namespace}-border-color-light: #414243;
    --#{$namespace}-border-color-lighter: #363637;
    --#{$namespace}-border-color-extra-light: #2b2b2c;
    --#{$namespace}-border-color-dark: #58585b;
    --#{$namespace}-border-color-darker: #636466;

    --#{$namespace}-fill-color-base: #303030;
    --#{$namespace}-fill-color-light: #262727;
    --#{$namespace}-fill-color-lighter: #1d1d1d;
    --#{$namespace}-fill-color-extra-light: #191919;
    --#{$namespace}-fill-color-blank: #141414;
    --#{$namespace}-fill-color-dark: #39393a;
    --#{$namespace}-fill-color-darker: #424243;
}

html.dark {
    @include dark-mode;
}