// ============================================================
// SCSS Mixins
// ============================================================

@use './var.scss' as *;

$B: null;
$E: null;

// BEM 命名规范

// Block
@mixin b($block) {
    $B: $namespace + '-' + $block !global;

    .#{$B} {
        @content;
    }
}

// Element
@mixin e($element) {
    $E: $element !global;
    $selector: &;
    $currentSelector: '';

    @each $unit in $element {
        $currentSelector: #{$currentSelector + '.' + $B + $element-separator + $unit + ','};
    }

    @at-root {
        #{$currentSelector} {
            @content;
        }
    }
}

// Modifier
@mixin m($modifier) {
    $selector: &;
    $currentSelector: '';

    @each $unit in $modifier {
        $currentSelector: #{$currentSelector + $selector + $modifier-separator + $unit + ','};
    }

    @at-root {
        #{$currentSelector} {
            @content;
        }
    }
}

// State
@mixin when($state) {
    @at-root {
        &.#{$state-prefix + $state} {
            @content;
        }
    }
}

// Clearfix
@mixin clearfix {
    &::after {
        display: table;
        clear: both;
        content: '';
    }
}

// Ellipsis
@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// Multi-line ellipsis
@mixin ellipsis-multiline($lines: 2) {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
}

// Scrollbar
@mixin scrollbar {
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--long-color-text-disabled);
        border-radius: 3px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--long-color-fill-light);
    }
}

// Focus ring
@mixin focus-ring($color: var(--long-color-primary)) {
    &:focus-visible {
        outline: 2px solid $color;
        outline-offset: 2px;
    }
}

// Button size
@mixin button-size($height, $padding, $font-size) {
    height: $height;
    padding: $padding;
    font-size: $font-size;
}

// Flex center
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Absolute center
@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Disabled state
@mixin disabled {
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
}

// getCssVar
@function getCssVar($args...) {
    $result: --#{$namespace};

    @each $arg in $args {
        $result: #{$result}-#{$arg};
    }

    @return var(#{$result});
}

// set-component-css-var
@mixin set-component-css-var($name, $variables) {
    @each $attribute, $value in $variables {
        --#{$namespace}-#{$name}-#{$attribute}: #{$value};
    }
}