@use '../common/mixins.scss' as *;

@include b(avatar) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    color: var(--long-color-white);
    background: var(--long-text-color-placeholder);
    width: 40px;
    height: 40px;
    font-size: 14px;
    overflow: hidden;

    >img {
        width: 100%;
        height: 100%;
        display: block;
    }

    @include m(circle) {
        border-radius: 50%;
    }

    @include m(square) {
        border-radius: var(--long-border-radius);
    }

    @include when(error) {
        // fallback style handled by parent/slot usually, or basic background
        // background: var(--long-color-danger); // Maybe not force red
    }
}