@use '../common/mixins.scss' as *;

@include b(breadcrumb) {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1;

    @include e(item) {
        float: left;
        display: flex;
        align-items: center;

        @include e(inner) {
            color: var(--long-text-color-regular);
            font-weight: normal;
            text-decoration: none;
            transition: var(--long-transition-color);
            display: flex;
            align-items: center;

            @include when(link) {
                font-weight: 600;
                color: var(--long-text-color-primary);
                cursor: pointer;

                &:hover {
                    color: var(--long-color-primary);
                }
            }
        }

        @include e(separator) {
            margin: 0 9px;
            font-weight: 400;
            color: var(--long-text-color-placeholder);
        }

        &:last-child {
            @include e(separator) {
                display: none;
            }
        }
    }
}