@use '../common/mixins.scss' as *;

@include b(input) {
    display: inline-flex;
    width: 240px;
    max-width: 100%;
    position: relative;
    font-size: var(--long-font-size-base);
    line-height: var(--long-component-size-default);
    box-sizing: border-box;
    vertical-align: middle;

    @include e(wrapper) {
        display: inline-flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        padding: 1px 12px;
        background-color: var(--long-fill-color-blank);
        border-radius: var(--long-border-radius-base);
        border: 1px solid var(--long-border-color);
        box-sizing: border-box;
        color: var(--long-text-color-regular);
        transition: var(--long-transition-all);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.02);
        position: relative;

        // Apex Style: Micro-border
        &::after {
            content: '';
            position: absolute;
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: -1px;
            border-radius: inherit;
            pointer-events: none;
            box-shadow: inset 0 0 0 1px var(--long-border-color-soft);
            opacity: 0.3;
        }

        &:hover {
            border-color: var(--long-color-primary-light-5);
        }

        &:focus-within {
            border-color: var(--long-color-primary);
            box-shadow: 0 0 0 2px var(--long-color-primary-light-8), var(--long-box-shadow-primary-glow);
            outline: none;
        }
    }

    @include e(inner) {
        width: 100%;
        flex-grow: 1;
        -webkit-appearance: none;
        color: var(--long-text-color-regular);
        font-size: inherit;
        height: calc(var(--long-component-size-default) - 2px);
        line-height: calc(var(--long-component-size-default) - 2px);
        padding: 0;
        outline: none;
        border: none;
        background: none;
        box-sizing: border-box;

        &::placeholder {
            color: var(--long-text-color-placeholder);
        }
    }

    // Textarea support
    &.is-textarea {
        line-height: 1.5;

        .long-input__wrapper {
            padding: 5px 11px;
        }

        .long-textarea__inner {
            height: auto;
            min-height: 32px;
        }
    }

    @include when(disabled) {
        cursor: not-allowed;

        @include e(wrapper) {
            background-color: var(--long-fill-color-light);
            border-color: var(--long-border-color-light);
            cursor: not-allowed;

            &:hover {
                border-color: var(--long-border-color-light);
            }
        }

        @include e(inner) {
            color: var(--long-text-color-disabled);
            cursor: not-allowed;

            &::placeholder {
                color: var(--long-text-color-disabled);
            }
        }
    }

    @include m(large) {
        font-size: 14px;
        line-height: var(--long-component-size-large);

        @include e(wrapper) {
            padding: 1px 15px;
        }

        @include e(inner) {
            height: calc(var(--long-component-size-large) - 2px);
            line-height: calc(var(--long-component-size-large) - 2px);
        }
    }

    @include m(small) {
        font-size: 12px;
        line-height: var(--long-component-size-small);

        @include e(wrapper) {
            padding: 1px 7px;
        }

        @include e(inner) {
            height: calc(var(--long-component-size-small) - 2px);
            line-height: calc(var(--long-component-size-small) - 2px);
        }
    }

    @include e(prefix) {
        display: inline-flex;
        margin-right: 8px;
        color: var(--long-text-color-placeholder);
        align-items: center;
    }

    @include e(suffix) {
        display: inline-flex;
        margin-left: 8px;
        color: var(--long-text-color-placeholder);
        align-items: center;
    }

    @include e(clear) {
        cursor: pointer;
        font-size: 14px;
        color: var(--long-text-color-placeholder);
        transition: var(--long-transition-all);

        &:hover {
            color: var(--long-text-color-secondary);
        }
    }
}

// Global textarea inner style for convenience
.long-textarea__inner {
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    color: var(--long-text-color-regular);
    font-size: inherit;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    box-sizing: border-box;
    font-family: inherit;

    &::placeholder {
        color: var(--long-text-color-placeholder);
    }
}