@use '../common/mixins.scss' as *;
@use '../common/var.scss' as *;

@include b(popconfirm) {
    @include e(main) {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }

    @include e(icon) {
        margin-right: 8px;
        font-size: 20px;
    }

    @include e(action) {
        text-align: right;
        margin: 0;
    }
}