@use '../common/mixins.scss' as *;

@include b(select) {
    --long-select-border: #d9d9d9;
    --long-select-hover: #4096ff;
    --long-select-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);

    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: middle;

    .long-input__wrapper {
        cursor: pointer;

        input {
            cursor: pointer;
        }
    }

    @include e(dropdown) {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: var(--long-index-popper);
        margin-top: 4px;
        padding: 4px 0;
        background-color: #fff;
        border-radius: var(--long-border-radius);
        box-shadow: var(--long-box-shadow-m);
        min-width: 100%;
        transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    @include e(item) {
        padding: 5px 12px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.88);
        cursor: pointer;
        transition: background 0.2s;

        &:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }

        &.is-selected {
            background-color: #e6f4ff;
            font-weight: 600;
            color: #1677ff;
        }

        &.is-disabled {
            color: rgba(0, 0, 0, 0.25);
            cursor: not-allowed;
            background: transparent;
        }
    }
}