@use '../common/mixins.scss' as *;

@include b(space) {
    display: inline-flex;

    @include m(vertical) {
        flex-direction: column;
    }

    @include when(wrap) {
        flex-wrap: wrap;
    }
}