@use '../common/mixins.scss' as *;

@include b(switch) {
    --long-switch-on-color: #1677ff;
    --long-switch-off-color: rgba(0, 0, 0, 0.25);
    --long-switch-handle-size: 18px;
    --long-switch-width: 44px;
    --long-switch-height: 22px;

    position: relative;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    width: var(--long-switch-width);
    height: var(--long-switch-height);
    background-color: var(--long-switch-off-color);
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    user-select: none;
    box-sizing: border-box;

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
    }

    @include e(handle) {
        position: absolute;
        top: 2px;
        left: 2px;
        width: var(--long-switch-handle-size);
        height: var(--long-switch-handle-size);
        background-color: #fff;
        border-radius: 50%;
        transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
        box-shadow: 0 2px 4px rgba(0, 35, 11, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include e(inner) {
        display: block;
        overflow: hidden;
        border-radius: 100px;
        height: 100%;
        padding-inline-start: 24px;
        padding-inline-end: 7px;
        transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
        color: #fff;
        font-size: 12px;
        line-height: var(--long-switch-height);
        width: 100%;
    }

    @include when(checked) {
        background-color: var(--long-switch-on-color);

        @include e(handle) {
            left: calc(100% - var(--long-switch-handle-size) - 2px);
        }

        @include e(inner) {
            padding-inline-start: 7px;
            padding-inline-end: 24px;
        }
    }

    @include when(disabled) {
        cursor: not-allowed;
        opacity: 0.4;
    }

    // Sizes
    @include m(small) {
        --long-switch-width: 28px;
        --long-switch-height: 16px;
        --long-switch-handle-size: 12px;

        @include e(inner) {
            line-height: 16px;
            font-size: 10px;
        }
    }
}