@use 'sass:map';
@use '../common/var' as *;
@use '../common/mixins.scss' as *;

@include b(switch) {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: var(--long-font-size-base);
    line-height: 1;
    height: var(--long-component-size-default);
    vertical-align: middle;
    cursor: pointer;
    user-select: none;

    @include e(input) {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0;
    }

    @include e(core) {
        margin: 0;
        display: inline-block;
        position: relative;
        width: 40px;
        height: 20px;
        border: 1px solid var(--long-border-color);
        outline: none;
        border-radius: 10px;
        box-sizing: border-box;
        background: var(--long-border-color);
        cursor: pointer;
        transition: var(--long-transition-all);
        vertical-align: middle;

        @include e(action) {
            position: absolute;
            top: 1px;
            left: 1px;
            border-radius: 100%;
            transition: var(--long-transition-all);
            width: 16px;
            height: 16px;
            background-color: var(--long-color-white);
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--long-border-color);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        }
    }

    @include e(label) {
        transition: var(--long-transition-duration);
        height: 100%;
        display: inline-flex;
        align-items: center;
        font-size: var(--long-font-size-base);
        font-weight: var(--long-font-weight-primary);
        cursor: pointer;
        color: var(--long-text-color-primary);

        @include m(left) {
            margin-right: 10px;
        }

        @include m(right) {
            margin-left: 10px;
        }

        @include when(active) {
            color: var(--long-color-primary);
        }
    }

    @include when(checked) {
        .#{$namespace}-switch__core {
            border-color: var(--long-color-primary);
            background-color: var(--long-color-primary);

            .#{$namespace}-switch__action {
                left: 100%;
                margin-left: -17px;
                color: var(--long-color-primary);
            }
        }
    }

    @include when(disabled) {
        opacity: 0.6;
        cursor: not-allowed;

        .#{$namespace}-switch__core,
        .#{$namespace}-switch__label {
            cursor: not-allowed;
        }
    }

    @include m(large) {
        height: var(--long-component-size-large);

        .#{$namespace}-switch__core {
            width: 50px;
            height: 24px;
            border-radius: 12px;

            .#{$namespace}-switch__action {
                width: 20px;
                height: 20px;
            }
        }

        &.is-checked {
            .#{$namespace}-switch__core .#{$namespace}-switch__action {
                margin-left: -21px;
            }
        }
    }

    @include m(small) {
        height: var(--long-component-size-small);

        .#{$namespace}-switch__core {
            width: 30px;
            height: 16px;
            border-radius: 8px;

            .#{$namespace}-switch__action {
                width: 12px;
                height: 12px;
            }
        }

        &.is-checked {
            .#{$namespace}-switch__core .#{$namespace}-switch__action {
                margin-left: -13px;
            }
        }
    }
}