@use 'sass:map';
@use '../common/var' as *;
@use '../common/mixins.scss' as *;

@include b(table) {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.88);

    @include e(header-wrapper) {
        width: 100%;
        overflow: hidden;
        border-bottom: 1px solid #f0f0f0;
    }

    @include e(body-wrapper) {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        position: relative;
    }

    @include e(header) {
        table-layout: fixed;
        border-collapse: separate;
        width: 100%;
        background-color: #fafafa;
    }

    @include e(body) {
        table-layout: fixed;
        border-collapse: separate;
        width: 100%;

        tr {
            transition: background 0.3s;

            &:hover {
                td {
                    background-color: #fafafa;
                }
            }
        }
    }

    // Cells
    th,
    td {
        padding: 16px 16px;
        min-width: 0;
        box-sizing: border-box;
        text-overflow: ellipsis;
        vertical-align: middle;
        position: relative;
        text-align: left;
        border-bottom: 1px solid #f0f0f0;
    }

    th {
        font-weight: 500;
        color: rgba(0, 0, 0, 0.88);
        background-color: #fafafa;
        user-select: none;
        transition: background 0.3s ease;
    }

    @include e(cell) {
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        word-break: break-all;
        line-height: 1.5715;
        padding: 0;
    }

    // Modifiers
    @include when(stripe) {
        @include e(body) {
            tr:nth-child(2n) {
                td {
                    background-color: #fafafa;
                }
            }
        }
    }

    @include when(border) {
        border: 1px solid #f0f0f0;
        border-bottom: none;

        @include e(header-wrapper) {
            border-bottom: 1px solid #f0f0f0;
        }

        th,
        td {
            border-right: 1px solid #f0f0f0;

            &:last-child {
                border-right: none;
            }
        }
    }

    @include e(empty-block) {
        min-height: 60px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @include e(empty-text) {
        color: rgba(0, 0, 0, 0.25);
        padding: 32px 0;
    }

    .hidden-columns {
        display: none;
    }
}